# Expo / React Native
node_modules/
.expo/
dist/
web-build/

# Native
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env*.local
.vercel
.env*
